# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# database
*.db
*.db-journal

# env
.env
.env.local
.env.*.local

# tools
.claude/settings.local.json
.claude/agent-memory/
.playwright-mcp/
memory/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
*.png
